(fn mul =>
    (rec factorial => fn n =>
        if iszero n
        then 1
        else mul n (factorial (pred n))))
((fn add =>
    (rec _mul => fn n => fn m =>
        if iszero n
        then 0
        else add m (_mul (pred n) m)))
(rec _add => fn n => fn m =>
    if iszero n
    then m
    else succ(_add (pred n) m)))
5
